<manifest package="com.tripadvisor.seekbar"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Android-ClockSeekbar"
        tools:replace="android:allowBackup">

    </application>

</manifest>
